@font-face {
    font-family: Norse-Bold;
    src: url(./font/Norse-Bold.otf);
}

:root {
    --border-color: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    height: 100vh;
}

aside {
    background-image: url("./img/teemu-paananen-OOE4xAnBhKo-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div {
    color: #f9fafb;
}

aside > .aside-footer {
    margin-top: auto;
    position: relative;
    bottom: 0.5rem;
    font-size: 0.7rem;
    color: #aab3a0;
}

aside > .aside-footer > a {
    color: inherit;
}

aside > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: Norse-bold, sans-serif;
    margin-top: 30vh;
    background: rgba(10, 10, 10, 0.5);
    padding: 10px 0;
    width: 100%;
}

aside > .logo img {
    height: 6rem;
}

main {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 1fr;
}

main > section:nth-child(1),
main > section:nth-child(3) {
    background-color: #f2f2f2;
}

main > section {
    padding: 2rem;
}

main > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  gap: 1.5rem;
  font-size: 20px;
  font-weight: bold;
}

